/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #2c3e50; /* Dark background */
  color: white;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  text-align: center;
  padding: 20px;
  background-color: #34495e; /* Darker background */
}

h1 {
  font-family: 'Orbitron', sans-serif;
  color: #2980b9; /* Changed from green to blue */
}

p {
  font-size: 18px;
}

/* Navigation Bar styles */
nav {
  background-color: #2c3e50;
  text-align: center;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin: 0 20px;
}

.tablinks {
  background-color: #2c3e50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.tablinks:hover {
  background-color: #3498db; /* Lighter blue on hover */
}

.tablinks.active {
  background-color: #2980b9; /* Blue active tab */
  color: white;
}

/* Tab content styles */
.tabcontent {
  display: none;
  padding: 20px;
  background-color: #34495e; /* Slightly lighter background */
}

.tabcontent h2 {
  color: #2980b9; /* Blue for sub-headings */
}

.tabcontent p {
  font-size: 18px;
  color: #ecf0f1;
}

img {
  border-radius: 10px;
}

/* Contact Form Styles */
form {
  background-color: #34495e;
  padding: 20px;
  border-radius: 5px;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}

/* Footer styles */
footer {
  background-color: #34495e;
  text-align: center;
  padding: 10px;
  color: #ecf0f1;
}

/* Styling for links inside tabs */
a {
  color: #3498db; /* Blue links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
